<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body class="container">
    <h1>Welcome to Spring Calculator</h1>
    <h3>This is a 'Reverse Polish Calculator.' Please enter your operands followed by your preferred operator.</h3>
    <p>For example, '3 4 +' will return '7' and '12 3 -' will return '9.'</p>

    <form class="form-group form-inline" action="/">
        <input class="form-control" type="text" name="operand" placeholder="First operand"/>
        <input class="form-control" type="text" name="operand2" placeholder="Second operand"/>
        <select class="form-control" name="operator">
            <option value="q">Operand</option>
            <option value="+">+ (add)</option>
            <option value="-">- (subtract)</option>
            <option value="*">* (multiply)</option>
            <option value="/">/ (divide)</option>
        </select>
        <input class="form-control btn btn-success" type="submit" value="Calculate!"/>
    </form>

    <p>Your equation was:</p>
    <p th:text="${equation}"></p>

    <h3>Result:</h3>
    <h3 th:text="${calcResult}"></h3>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="javascript"></script>
</body>
</html>